/* C:\sklep\sklep_studia\products\static\products\css\styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: white;
}
